@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .highCpu {
        background: red;
        color: white;
    }

    .collapsible {
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        outline: none;
        font-size: 11px;
        line-height: 1.1;
        background-color: #FFCC00;
        border-color: #FFCC00;
        font-weight:bold;
    }

        .active, .collapsible:hover {
            background-color: #555;
        }

    .content {
        padding: 0px 0px 0px 0px;
        display: none;
        overflow: hidden;
        background-color: #f1f1f1;
    }

    .btn-warning {
        background-color: #FFCC00;
        border-color: #FFCC00;
    }

    @@font-face {
        font-family: "CustomFont";
        src: url("/Content/KronaOne-Regular.ttf");
    }

    .titulo {
        font-family: CustomFont;
    }

    #header {
        margin-bottom: 40px;
    }
</style>
<div id="header" class="container-fluid">
    <div class="row">
        <div class="col">
            <img id="imgFalconLogo" class="img-fluid" src="~/Images/falconYellowWhite4.png" alt="FALCON" />
        </div>
    </div>
</div>

<section id="servidores">
    <div id="computerInfo" class="container-fluid">
        <div class="container-fluid">
            <div class="row">
                <h3 data-bind="visible: connected" style="color:white">Servidores</h3>
            </div>
            <button class="btn btn-warning" onclick="exportTableToExcel('tbMachines', 'Servidores')">Exportar a Excel</button>
            <div class="row">
                <div class="table-responsive" style="background-color:white">
                    <table id="tbMachines" border="0" class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>País</th>
                                <th>Servidor</th>
                                <th>Descripción</th>
                                <th>IP</th>
                                <th>CPU %</th>
                                <th>Memoria Disponible (Mb)</th>
                                <th>Memoria Total(Mb)</th>
                                <th>Mem Disp %</th>
                                <th>Disco Duro</th>
                                <th>Estado</th>
                                <th>Sistema Operativo</th>
                                <th>Procesador</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- ko foreach: machines -->
                            <tr data-bind="css: { highCpu: cpu() > 90 }">
                                <td class="ui-state-default" data-bind="text: pais"></td>
                                <td class="ui-state-default" data-bind="text: machineName"></td>
                                <td class="ui-state-default" data-bind="text: descriptionServer"></td>
                                <td class="ui-state-default" data-bind="text: ipAddress"></td>
                                <td class="ui-state-default" data-bind="text: cpu"></td>
                                <td class="ui-state-default" data-bind="text: memUsage"></td>
                                <td class="ui-state-default" data-bind="text: memTotal"></td>
                                <td class="ui-state-default" data-bind="text: memPercent"></td>
                                <td class="ui-state-default" data-bind="html: disk"></td>
                                <td class="ui-state-default" data-bind="text: status"></td>
                                <td class="ui-state-default" data-bind="text: sysos"></td>
                                <td class="ui-state-default" data-bind="html: processador"></td>

                            </tr>
                            <!-- /ko -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="servicios">
    <div id="servicesInfo" class="container-fluid">
        <div class="container-fluid">
            <div class="row">
                <h3 style="color:white">Servicios</h3>
            </div>
            <button class="btn btn-warning" onclick="exportTableToExcel('tbServices', 'Servicios')">Exportar a Excel</button>
            <div class="row">
                <div class="table-responsive" style="background-color:white">
                    <table id="tbServices" border="0" class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th scope="col">País</th>
                                <th scope="col">Servidor</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Versión</th>
                                <th scope="col">Estado</th>
                                <th scope="col">Detalles</th>

                            </tr>
                        </thead>
                        <tbody id="sortable">
                            <!-- ko foreach: services -->
                            <tr>
                                <td class="ui-state-default" data-bind="text: pais"></td>
                                <td class="ui-state-default" data-bind="text: machineName"></td>
                                <td class="ui-state-default" data-bind="text: serviceDisplayName"></td>
                                <td class="ui-state-default" data-bind="text: serviceVersion"></td>
                                <td class="ui-state-default" data-bind="text: status"></td>
                                <td class="ui-state-default" data-bind="html: filesVersion"></td>

                            </tr>
                            <!-- /ko -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="iisSites">
    <div id="sitesIIS" class="container-fluid">
        <div class="container-fluid">
            <div class="row">
                <h3 style="color:white">Sitios de IIS</h3>
            </div>
            <button class="btn btn-warning" onclick="exportTableToExcel('tbSitesIIS', 'Sitios de IIS')">Exportar a Excel</button>
            <div class="row">
                <div class="table-responsive" style="background-color:white">
                    <table id="tbSitesIIS" border="0" class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th scope="col">País</th>
                                <th scope="col">Servidor</th>
                                <th scope="col">ID</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Enlaces</th>
                                <th scope="col">Estado</th>
                                <th scope="col">Ruta</th>
                            </tr>
                        </thead>
                        <tbody id="sortable">
                            <!-- ko foreach: sites -->
                            <tr>
                                <td class="ui-state-default" data-bind="text: pais"></td>
                                <td class="ui-state-default" data-bind="text: machineName"></td>
                                <td class="ui-state-default" data-bind="text: siteID"></td>
                                <td class="ui-state-default" data-bind="text: siteName"></td>
                                <td class="ui-state-default" data-bind="html: siteBinding"></td>
                                <td class="ui-state-default" data-bind="text: siteState"></td>
                                <td class="ui-state-default" data-bind="text: sitePath"></td>
                            </tr>
                            <!-- /ko -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="NodeSites">
    <div id="sitesNode" class="container-fluid">
        <div class="container-fluid">
            <div class="row">
                <h3 style="color:white">Sitios de Node</h3>
            </div>
            <button class="btn btn-warning" onclick="exportTableToExcel('tbSitesNode', 'Sitios de Node')">Exportar a Excel</button>
            <div class="row">
                <div class="table-responsive" style="background-color:white">
                    <table id="tbSitesNode" border="0" class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th scope="col">País</th>
                                <th scope="col">Servidor</th>
                                <th scope="col">ProcessID</th>
                                <th scope="col">Nombre del Proceso</th>
                                <th scope="col">Instancia</th>
                                <th scope="col">Línea de Comando</th>
                            </tr>
                        </thead>
                        <tbody id="sortable">
                            <!-- ko foreach: sitesNode -->
                            <tr>
                                <td class="ui-state-default" data-bind="text: pais"></td>
                                <td class="ui-state-default" data-bind="text: machineName"></td>
                                <td class="ui-state-default" data-bind="text: processID"></td>
                                <td class="ui-state-default" data-bind="text: processName"></td>
                                <td class="ui-state-default" data-bind="html: instanceName"></td>
                                <td class="ui-state-default" data-bind="text: commandLine"></td>
                            </tr>
                            <!-- /ko -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    <script src="~/Scripts/index.js"></script>
    <script src="~/Scripts/common.js"></script>

}
