@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .highCpu {
        background: red;
        color: white;
    }
</style>

<div id="computerInfo">

    <h2>Real-time System Resource Monitor</h2>
    <h5 data-bind="visible: connected">Connected to message hub</h5>

    <table id="tbServices" border="0" class="table table-striped">
        <tr>
            <th>Machine</th>
            <th>IP</th>
            <th>CPU %</th>
            <th>Memoria Utilizada (Mb)</th>
            <th>Memoria Total(Mb)</th>
            <th>Mem Disponible %</th>
            <th>Disco Duro</th>
            <th>Sistema Operativo</th>
            <th>Procesador</th>
        </tr>

        <!-- ko foreach: machines -->
        <tr data-bind="css: { highCpu: cpu() > 90 }">
            <td data-bind="text: machineName"></td>
            <td data-bind="text: ipAddress"></td>
            <td data-bind="text: cpu"></td>
            <td data-bind="text: memUsage"></td>
            <td data-bind="text: memTotal"></td>
            <td data-bind="text: memPercent"></td>
            <td data-bind="text: disk"></td>
            <td data-bind="text: sysos"></td>
            <td data-bind="text: processador"></td>
        </tr>
        <!-- /ko -->

    </table>

</div>

<div id="servicesInfo">

    <h2>Monitor de Servicios</h2>
    <h5 data-bind="visible: connected">Connected to message hub</h5>

    <table id="tbServicios" border="0" class="table table-striped">
        <tr>
            <th>Servidor</th>
            <th>Nombre</th>
            <th>Estado</th>
            <th>Tipo de Inicio</th>
            <th>Ruta de Acceso</th>
            <th>Versión</th>
            <th>Version de Archivos</th>
        </tr>

        <!-- ko foreach: services -->
        <tr>
            <td data-bind="text: machineName"></td>
            <td data-bind="text: serviceDisplayName"></td>
            <td data-bind="text: status"></td>
            <td data-bind="text: startType"></td>
            <td data-bind="text: path"></td>
            <td data-bind="text: serviceVersion"></td>
            <td data-bind="text: filesVersion"></td>
        </tr>
        <!-- /ko -->
    </table>
</div>

@section Scripts {
    <script src="~/Scripts/index.js"></script>
}
