<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>

  <appSettings>
    <!-- Inicio de Configuraciones Temporales-->
    <add key="ServerUrlBase" value="http://localhost:3005/"/>
    <add key="ServerUrl" value="http://localhost:3005/api/cpuinfo"/>
    <!--
    <add key="ServerUrlBase" value="http://falconmonitoria.azurewebsites.net/"/>
    <add key="ServerUrl" value="http://falconmonitoria.azurewebsites.net//api/cpuinfo"/>
    -->
    <!-- Pais-->
    <add key="pais" value="Desarrollo"/>
    <!--Frecuencia de Envio de Info en Segundos-->
    <add key="frecuencia" value="5"/>
    
    <!-- Final Configuraciones Temporales-->
    <add key="DllDefault" value="epiron.log.engine.dll"/>
    <add key="DllAQDefault" value="Epiron.Service.Engine.dll"/>
    <!-- Configuracion de Proxy-->
    <add key="UseProxy" value="false"/>
    <add key="ProxyDomain" value="ALLUS-AR"/>
    <add key="ProxyUser" value="SocialMedia"/>
    <add key="ProxyPassword" value="R3d3sS0c14l3s"/>
    <add key="ProxyPort" value="3128"/>
    <add key="ProxyHost" value="proxyallus"/>
    
  </appSettings>
</configuration>
