
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Falcon - Monitor</title>

    <link href="~/Content/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link rel="shortcut icon" type="image/jpg" href="~/Images/falconIco.png" />
    <script src="~/Scripts/jquery-3.5.1.js"></script>
    <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
    <script src="/signalr/hubs"></script>
    <script src="~/Scripts/knockout-3.5.1.js"></script>
    <script src="/Scripts/knockout.mapping-latest.js"></script>

    @RenderSection("Scripts", false)

</head>
<body>
    <style>
        body {
            background-color: black;
            font-size: 12px;
            height: 100%;
            margin: 0px;
            padding: 0px;
        }

        @@media only screen and (max-width: 800px) {
            body {
                width: 700px;
            }
        }
    </style>
    <div class="container-fluid">
        @RenderBody()
    </div>
    <script type="text/javascript" src="~/Scripts/ScriptCollapsing.js"></script>
    <footer>
        <div class="container-fluid">
            <hr />
            <div class="row">
                <div>
                    <p class="text-center" style="color:white;">
                        ©
                        <script>
                            var fecha = new Date();
                            document.write(fecha.getFullYear());
                        </script>
                        - Desarrollo: IA Konecta Argentina
                    </p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
